
.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50px 0px 0px 0px;
  padding: 30px;

}



.y {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.Terms span,
.logIn span {
  color: var(--green);
  cursor: pointer;
}

.Terms span:hover, .logIn span:hover {
  text-decoration: underline;
}

.su-btn {
  /* width: Hug (162.75px)px;
  height: Hug (55.75px)px; */
  padding: 11px 32px 11px 32px;
  /* gap: 3px; */
  border-radius: 50px 0px 0px 0px;
  opacity: 0px;

}

.su-btn p {
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.su-btn button {
  
  background-color: var(--green);
  border: none;
  color: white;
  width: Hug (102.75px)px;
  height: auto;
  padding: 11px 32px 11px 32px;

  border-radius: 50px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
}

.su-btn img {
  background-color: var(--green);
  width: 40px;
  height: auto;

}

.logIn{
  align-items: center;
  /* text-align: center; */
  margin-left: 49px;
}

.CheckBoxes1 ,  .CheckBoxes2{
  display: flex;
  justify-content: flex-start;
  /* align-items: start; */
  gap: 100px;
  padding: 10px;
} 
.CheckBoxes2{
gap: 115px;
}

.Terms{
 
 display: flex;
  gap: 10px;
  padding-top: 10px;
}