.Round-card{
background-color: green;
width: 405px;
height: 504.86px;
gap: 30px;
opacity: 0px;

}

.Round-card img{
    /* position: relative; */
    width: 100%;
    /* border-radius: 10px; */
    /* height: 300px; */
    background-position: center;
    background-repeat: none;
    background-size: cover;
}