.Round-card{
width: 405px;
height: 504.86px;
gap: 30px;
opacity: 0px;

}

.Round-card img{
    width: 100%;
    background-position: center;
    background-repeat: none;
}

.text-div{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 13px;
    
}

.text-div h2{
    font-family: Lora;
font-size: 22px;
font-weight: 500;
line-height: 28.16px;
text-align: center;

}


.text-div p{
    font-family: Lato;
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
text-align: center;

}