.nb-header {
    background-color: var(--Dgreen);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: Fixed (1, 440px)px;
    height: Hug (115.75px)px;
    padding: 30px 80px 30px 80px;
    gap: 10px;
}




