.nb-header {
    background-color: var(--Dgreen);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: Fixed (1, 440px)px;
    height: Hug (115.75px)px;
    padding: 30px 80px 30px 80px;
    gap: 10px;
}


.nb-heading p {
    color: white;
    background-color: var(--Dgreen);
}

.nb-heading span {
    color: var(--green);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    background-color: var(--Dgreen);
}

