.ft-div {
    background-color: var(--Dgreen);
    width: 100%;
    height: 371px;
    top: 297.87px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0px;
    opacity: 0px;
    padding: 0%;

}

.ft-list li {

    background-color: var(--Dgreen);
    color: white;
}

.ft-list ul {

    background-color: var(--Dgreen);
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    width: Fixed (1, 440px)px;
    height: Hug (115.75px)px;
    padding: 30px 80px 30px 80px;
    gap: 20px;
}

.ft-socials {

    background-color: var(--Dgreen);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft-socials button{
    
    background-color: var(--Dgreen);
    color: white;
}