
.txtfield {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.Term span {
  color: var(--green);
  cursor: pointer;
}

.Term span:hover{
  text-decoration: underline;
}

.login {
  align-items: center;
}


.Term {
  display: flex;
  gap: 20px;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
}

.headDiv {
  /* width: 1600px; */
  height: 100px;
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

.headDiv h1 {
  width: 550px;
  text-align: center;
  /* color: black; */
}
  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 4px;
  }